* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}

.titulo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    /* .abrir-menu {
        display: block;
    }

    .nav {
        display: none;
    } */

    .nav {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #ececec;
        padding: 2rem;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }
}